/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ---- GENERAL ---- */
*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexa_free_light-webfont.eot');
    src: url('nexa_free_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_free_light-webfont.woff') format('woff'),
         url('nexa_free_light-webfont.ttf') format('truetype'),
         url('nexa_free_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    font-size: 16px;
    line-height: 1.6;
    color: #555;
    font-family: helvetica, arial, sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background: #000;
}
h1, h2, h3{
    font-family: 'nexa_lightregular';
}
.btn{
    font-family: 'nexa_lightregular';
    background: #fff;
    color: #555;
    font-size: 20px;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}
.btn:hover{
    background: #83cbe4;
    color: #fff;
}

/* ---- HEADER ---- */
header{
    padding: 20px 30px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
header .social{
    margin-top: 0;
}
header .social li{
    float: left;
    margin-right: 20px;
    list-style-type: none;
}
header .social li a{
    color: #fff;
    text-decoration: none;
    font-size: 22px;
}
header .social li a:hover{
    color: #83cbe4;
}
#logo{
    width: 35px;
    margin: 0 30px 0 0;
    float: left;
}
#name{
    font-size: 30px;
    margin: 5px 0;
    line-height: 1;
}
#tagline{
    font-size: 20px;
    font-family: 'nexa_lightregular';
    font-size: 18.5px;
    line-height: 1;
}

.slide{
    background: url(../images/hongkong.jpg) top center no-repeat;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.slide-2{
    background: #83cbe4;
}
.layer{
    font-family: 'nexa_lightregular';
    font-size: 35px;
    width: 60%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: 4px solid #fff;
    padding: 30px;
    position: relative;
    overflow: visible;
    margin: 0 auto;
}
.particle{
    position: absolute;
    top: -54px;
    height: 50px;
    right: -4px;
}
.particle.bottom{
    top: auto;
    bottom: -54px;
    right: auto;
    left: -4px;
}
.onepage-pagination li a.active:before{
    border-color: #fff;
}
.onepage-pagination li a:before{
    background: rgba(255,255,255, 0.8)
}
/* ---- PORTFOLIO ---- */
.slide-portfolio h1{
    text-transform: uppercase;
    text-align: center;
    position: relative;
    top: 30px;
}
.portfolio{
    padding: 0;
    width: 100%;
}
.portfolio li{
    width: 100%;
    padding: 30px 0;
}
.portfolio .browser{
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.portfolio .browser img{
    width: 100%;
}